* {
    margin: 0;
    padding: 0
}

/*-------------------------Slider block---------------------------*/
.slider-1,
.slider-2 {
    width: 100%;
    padding: 30px 0 0 20px;
    box-sizing: border-box;
}

.panel {
    float: left;
    width: 350px;
    height: 510px;
    z-index: 5;
}

.shortcut {
    display: block;
    position: relative;
    width: 100%;
    height: 25%;
    border: none;
    outline: 1px solid #dddddd;
    font: bold 16px/1.25 Arial;
    color: #ffeaff;
    padding: 10%;
    box-sizing: border-box;
    cursor: pointer;
}

.shortcut.gray,
.shortcut.gray.active,
.shortcut.gray.active:after {
    background-color: #bbbbbb;
}

.shortcut.pink,
.shortcut.pink.active,
.shortcut.pink.active:after {
    background-color: #ffb7cc;
}

.shortcut.red,
.shortcut.red.active,
.shortcut.red.active:after {
    background-color: #ff5895;
}

.shortcut.rose,
.shortcut.rose.active,
.shortcut.rose.active:after {
    background-color: #b97abc;
}

.shortcut.active:after {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    top: 54px;
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    margin-right: -7px;
    z-index: 10;
}

.slides-block {
    position: relative;
    width: 910px;
    height: 510px;
    overflow: hidden;
}

.slides {
    display: inline-block;
    float: left;
    width: 3640px;
    height: 510px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}